{% extends 'base.html' %}

{% load static %}

{% block title%}
profile
{% endblock%}

{% block style %}
{% endblock %}

{% block content %}


<div class="row" data-aos="fade-up">

    <div class="col-lg-9 stretch-card grid-margin">

        <div class="card">
            <div class="card-body">

                <h1 class="font-weight-600 mb-1">
                    {{article.headline}}
                  </h1>
                  <p class="fs-13 text-muted mb-0">
                    <span class="mr-2">{{article.pub_date}}
                  </p>
                  <div class="rotate-img">
                    <img
                      src={{article.image}}
                      alt="banner"
                      class="img-fluid mt-4 mb-4"
                    />
                  </div>
                  <p class="mb-4 fs-15">
                    {{article.story}}
                  </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}

{% endblock %}